/Java/Zaehlwerk/nbproject/private/
/Java/Zaehlwerk/build/
/Java/01_SchulverwaltungInUML/nbproject/private/
/Java/SimplePizzaFactory/SimplePizzaFactory/nbproject/private/
/Java/SimplePizzaFactory/nbproject/private/
/Java/Uebung_abstrakte_Klassen/nbproject/private/
/Java/06_DemoExceptions/nbproject/private/
/Java/ganzzahldivision/nbproject/private/
/Java/Ganzzahldivision/nbproject/private/
/Java/textErr/nbproject/private/
/Java/EanSupport/nbproject/private/
/Java/Kennzeichen/nbproject/private/
/Java/Zufallszahlen/nbproject/private/
/Java/08_DemoJavaFx/target/
/Java/JavaFx Projects/01_Zahlensysteme/target/
