/Java/Zaehlwerk/nbproject/private/
/Java/Zaehlwerk/build/
/Java/01_SchulverwaltungInUML/nbproject/private/
/Java/SimplePizzaFactory/SimplePizzaFactory/nbproject/private/
/Java/SimplePizzaFactory/nbproject/private/
